*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
}
.box1{
    width: 600px;
    height: 100px;
    display: flex;
    background-color: yellow;
    border: black 2px solid;
    gap: 2px;
}
.box2{
display: flex;
gap:5px;
width: 600px;

}
.box3{
    border: black 2px solid;
    background-color: blue;
    width: 30%;
    height:300px ;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    height: 300px;

}
.box5{
    display: flex;
    gap: 5px;
    height: 50%;
    width:100%;

}
.box6{
   
    width: 70%;
    height:100%;
    background-color: aquamarine;
    border: black 2px solid;
}
.box7{
    height: 100%;
    width: 30%;
    background-color: blueviolet;
    border: black 2px solid;


}
.box8{
    height:50%;
    width: 100%;
    background-color: rgb(82, 8, 8);
    border: black 2px solid;
}