*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;

}
.box2{
    margin-top: 10px;
    width: 60%;
    height: 50px;
    background-color:white;
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
  
   
    
}
.flex{
    text-align:left;
    color: orange;
    font-weight: bold;
    padding-left: 5px;

}
.links{
   
    color: black;
   text-align:right ;
   padding-left: 600px;
 
}
.linka{
    margin: 5px;
}
.links a:hover{
    color: orange;
    cursor: pointer;
    
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
}
#taste{
    
    font-weight: bolder;
    color:black;
    font: size 50px;
}   
#underline{
    font-weight: bolder;
}  

#design{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
.button{
    color: plum;
   padding: 5px;
    width:150px;
    height: 40px;
    background-color:rgb(111, 67, 152);
    margin: 10px;
    cursor: pointer;
}
.secondbox{
    display: flex;
    flex-direction: column;
}
.second1{
    margin: 10px;
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
    padding: 10px;
}
.second2{
    display: flex;  
    justify-content: center; 
    
   gap: 10px;
   
}
